body {
  background-image: url(./Images/Chalkboard1.png);
  background-size:cover;
  color: white;
  margin: 0;
  font-family: "Love Ya Like A Sister";
  font-size: 45px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
